<!DOCTYPE html>
<html lang="en">
 
    <%- include('../warehouse/partials/head') %>

<body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary app-loaded sidebar-collapse"> <!--begin::App Wrapper-->
    <div class="app-wrapper">


<!-- include the header -->

   <%- include('../warehouse/partials/header') %>

  <!-- =============================================== -->


<!-- include the sidebars -->

     <%- include('../warehouse/partials/left-Sidebar') %>
     

<!--begin::App Main-->
<main class="app-main"> <!--begin::App Content Header-->
    <div class="app-content-header"> <!--begin::Container-->






        <div> <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 text-bg-danger">
                <span class="info-box-icon"><i class="bi bi-truck"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending Orders</span>
                    <span class="pending-orders info-box-number"></span>
                </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
            <div class="info-box mb-3 text-bg-info">
                <span class="info-box-icon"><i class="bi bi-clipboard-data"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Completed Orders</span>
                    <span class="completed-orders info-box-number"></span>
                </div> <!-- /.info-box-content -->
            </div>
        </div>
          <!-- PRODUCT LIST -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Recently Added Products</h3>
            <div class="card-tools"> <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse"> <i
                        data-lte-icon="expand" class="bi bi-plus-lg"></i> <i data-lte-icon="collapse"
                        class="bi bi-dash-lg"></i> </button> <button type="button" class="btn btn-tool"
                    data-lte-toggle="card-remove"> <i class="bi bi-x-lg"></i> </button> </div>
        </div> <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="latest-Products px-2">
                
            </div>
        </div> <!-- /.card-body -->
        <div class="card-footer text-center"> <a href="/warehouse/products" class="uppercase">
                View All Products
            </a> </div> <!-- /.card-footer -->
    </div> <!-- /.card -->
</div>




    
</main>





<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Popper.js (Required for Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
    integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>

<!-- DataTables -->
<script src="https://cdn.jsdelivr.net/npm/datatables.net@1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-bs5@1.13.4/js/dataTables.bootstrap5.min.js"></script>

<!-- OverlayScrollbars -->
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/browser/overlayscrollbars.browser.es6.min.js" 
    integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous"></script>

<!-- JSVectorMap -->
<script src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/js/jsvectormap.min.js" 
    integrity="sha256-/t1nN2956BT869E6H4V1dnt0X5pAQHPytli+1nTZm2Y=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/maps/world.js" 
    integrity="sha256-XPpPaZlU8S/HWf7FZLAncLg2SAkP8ScUTII89x9D3lY=" crossorigin="anonymous"></script>

<!-- AdminLTE Core JS -->
<script src="../public/assets/js/adminlte.js"></script>
<script src="/scripts/wareHouse/dashboard.js" ></script>

<!-- Custom Scripts -->
<script>
    // Color Mode Toggler
    (() => {
        "use strict";

        const storedTheme = localStorage.getItem("theme");

        const getPreferredTheme = () => {
            return storedTheme || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        };

        const setTheme = (theme) => {
            if (theme === "auto" && window.matchMedia("(prefers-color-scheme: dark)").matches) {
                document.documentElement.setAttribute("data-bs-theme", "dark");
            } else {
                document.documentElement.setAttribute("data-bs-theme", theme);
            }
        };

        setTheme(getPreferredTheme());

        window.addEventListener("DOMContentLoaded", () => {
            const themeToggles = document.querySelectorAll("[data-bs-theme-value]");
            themeToggles.forEach((toggle) => {
                toggle.addEventListener("click", () => {
                    const theme = toggle.getAttribute("data-bs-theme-value");
                    localStorage.setItem("theme", theme);
                    setTheme(theme);
                });
            });
        });
    })();

    s

    
</script>

</body>
</html>