<nav class="app-header navbar navbar-expand bg-body">
  <div class="container-fluid">
    <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li>
    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="bi bi-circle-fill-half-stroke"></i></button>
      <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button" style="background: #1C2434;"><i class="fas fa-search"></i></button></div>
      </form>
      <ul class="navbar-nav flex-nowrap ms-auto">
          <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
              <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="me-auto navbar-search w-100">
                      <div class="input-group"><input class="bg-light border-0 form-control small" type="text" placeholder="Search for ..."><button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button></div>
                  </form>
              </div>
          </li>
        
          <!--begin::Fullscreen Toggle-->
          <li class="nav-item"> <a class="nav-link" href="#" data-lte-toggle="fullscreen"> <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i> <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none;"></i> </a> </li> <!--end::Fullscreen Toggle--> <!--begin::User Menu Dropdown-->
          <li class="nav-item dropdown user-menu"> <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">  <span class="d-none d-md-inline"><%= typeof session !== 'undefined' && session.user.Fname %></span> </a>
              <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end"> <!--begin::User Image-->
                  <li class="user-header text-bg-primary"> 
                      <p>
                          Alexander Pierce - Web Developer
                          <small>Member since Nov. 2023</small>
                      </p>
                  </li> <!--end::User Image--> <!--begin::Menu Body-->
                  <li class="user-body"> <!--begin::Row-->
                      <div class="row">
                          <div class="col-4 text-center"> <a href="#">Followers</a> </div>
                          <div class="col-4 text-center"> <a href="#">Sales</a> </div>
                          <div class="col-4 text-center"> <a href="#">Friends</a> </div>
                      </div> <!--end::Row-->
                  </li> <!--end::Menu Body--> <!--begin::Menu Footer-->
                  <li class="user-footer"> <a href="#" class="btn btn-default btn-flat">Profile</a> <a href="/admin/logout" class="btn btn-default btn-flat float-end">Sign out</a> </li> <!--end::Menu Footer-->
              </ul>
          </li> <!--end::User Menu Dropdown-->
           <!--begin::End Navbar links-->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <button
            class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-bs-display="static"
          >
            <span class="theme-icon-active">
              <i class="my-1"></i>
            </span>
            <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="bd-theme-text"
            style="--bs-dropdown-min-width: 8rem;"
          >
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center active"
                data-bs-theme-value="light"
                aria-pressed="false"
              >
                <i class="bi bi-sun-fill me-2"></i>
                Light
                <i class="bi bi-check-lg ms-auto d-none"></i>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="dark"
                aria-pressed="false"
              >
                <i class="bi bi-moon-fill me-2"></i>
                Dark
                <i class="bi bi-check-lg ms-auto d-none"></i>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="auto"
                aria-pressed="true"
              >
                <i class="bi bi-circle-fill-half-stroke me-2"></i>
                Auto
                <i class="bi bi-check-lg ms-auto d-none"></i>
              </button>
            </li>
          </ul>
        </li>
      </ul>
      </ul>
  </div>
</nav>